<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzp.demo.dao.AccuratePutPinPackageMapper">

    <resultMap id="BaseResultMap" type="com.lzp.demo.entity.AccuratePutPinPackage">
        <!--@Table portal_accurate_put_pin_package-->
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="accuratePutId" column="accurate_put_id" jdbcType="INTEGER"/>
        <result property="jdPin" column="jd_pin" jdbcType="VARCHAR"/>
        <result property="putTime" column="put_time" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
          id, accurate_put_id, jd_pin, put_time, status
        from portal.portal_accurate_put_pin_package
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
          id, accurate_put_id, jd_pin, put_time, status
        from portal.portal_accurate_put_pin_package
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
          id, accurate_put_id, jd_pin, put_time, status
        from portal.portal_accurate_put_pin_package
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="accuratePutId != null">
                and accurate_put_id = #{accuratePutId}
            </if>
            <if test="jdPin != null and jdPin != ''">
                and jd_pin = #{jdPin}
            </if>
            <if test="putTime != null">
                and put_time = #{putTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <select id="queryListByAccuratePutId" resultType="com.lzp.demo.entity.AccuratePutPinPackage">
        select
          id, accurate_put_id, jd_pin, put_time, status
        from portal.portal_accurate_put_pin_package
        where accurate_put_id = #{accuratePutId}
    </select>
    <select id="countByAccuratePutId" resultType="java.lang.Integer">
        select
          count(id)
        from portal.portal_accurate_put_pin_package
        where accurate_put_id = #{accuratePutId}
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into portal.portal_accurate_put_pin_package(accurate_put_id, jd_pin, put_time, status)
        values (#{accuratePutId}, #{jdPin}, #{putTime}, #{status})
    </insert>
    <insert id="insertListBatch">
        INSERT INTO portal.portal_accurate_put_pin_package(accurate_put_id, jd_pin, put_time, status)
        VALUES
        <foreach collection ="list" item="item" separator =",">
             (#{item.accuratePutId}, #{item.jdPin}, #{item.putTime}, #{item.status})
        </foreach >
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update portal.portal_accurate_put_pin_package
        <set>
            <if test="accuratePutId != null">
                accurate_put_id = #{accuratePutId},
            </if>
            <if test="jdPin != null and jdPin != ''">
                jd_pin = #{jdPin},
            </if>
            <if test="putTime != null">
                put_time = #{putTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from portal.portal_accurate_put_pin_package where id = #{id}
    </delete>

</mapper>